{% extends "base.html" %}
{% load static %}
{% block content %}
{% include "partials/_messages.html" %}
<div class="container mt-4">
    <div class="row" style="display: flex; align-items: center; padding-left: 12px; padding-right: 12px;">
        <div class="col-md-8"
            style="background-color: #CCCCCC; border-radius: 10px; display: flex; align-items: center;">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb text-center" style="margin-top: 5px;margin-bottom: 7px;">
                    <li class="breadcrumb-item"><a href="">Expenses</a></li>
                    <li class="breadcrumb-item active" aria-current="page">My Expenses</li>
                </ol>
            </nav>
        </div>

        <div class="col-md-2 d-flex align-items-center justify-content-center" style="padding-left: 0px;padding-right: 0px;">
            <a href="{% url 'add-expense' %}" class="btn btn-primary">Add-Expense</a>
        </div>
    </div>
</div>

<div class="container mt-4">
    {% comment %} {% if expense.count %} {% endcomment %}

    <div class="row">
        <div class="col-md-8">
            {% if expenses %}
            <a href="{% url 'export-excel' %}" class="btn btn-primary">Export Excel</a>
            <a href="{% url 'export-csv' %}" class="btn btn-secondary">Export CSV</a>
            {% endif %}
            <button class="btn btn-info" id="upload-csv-button">Upload CSV</button>
            <!-- CSV Upload Form (Initially Hidden) -->
            <form action="{% url 'upload_expense_csv' %}" id="csv-upload-form" style="display: none;" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="csv_file" accept=".csv" required>
                <button type="submit">Submit</button>
                <button type="button" id="cancel-csv-upload">Cancel</button>
            </form>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <input type="text" id="searchField" class="form-control" placeholder="Search">
            </div>
        </div>
    </div>

    {% if expenses %}
    <div class="app-table mt-4">
        <table class="table table-stripped table-hover">
            <thead>
                <tr>
                    <th>Amount ({{currency}})</th>
                    <th>Category</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for expense in page_obj %}
                <tr>
                    <td>{{expense.amount}}</td>
                    <td>{{expense.category}}</td>
                    <td>{{expense.date}}</td>
                    <td>{{expense.description}}</td>
                    <td><a href="{% url 'edit_expense' expense.id %}" class="btn btn-secondary btn-sm">Edit</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <p class="no-results" style="display: none;">No results</p>
    <div class="table-output">
        <table class="table table-stripped table-hover">
            <thead>
                <tr>
                    <th>Amount ({{currency}})</th>
                    <th>Category</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="table-body">
                
            </tbody>
        </table>
    </div>

    <div class="pagination-container">
        <div class="">
            Showing pages {{page_obj.number}} of {{ page_obj.paginator.num_pages}}
        </div>
        <ul class="pagination align-right float-right mr-auto mt-3">
            {% if page_obj.has_previous %}
            <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}><a class="page-link"
                    href="?page=1">&laquo; 1</a></li>
            <li class="page-item"> <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            </li>
            {% endif %}

            {% if page_obj.has_next %}
            <li class="page-item"> <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
            <li class="page-item"> <a class="page-link"
                    href="?page={{ page_obj.paginator.num_pages }}">{{page_obj.paginator.num_pages}} &raquo;</a></li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
</div>
<script src="{% static 'js/expenseUpload.js' %}"> </script>
<script src="{% static 'js/searchExpenses.js' %}"> </script>
{% endblock content %}