{% extends "base_auth.html" %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Please enter your email to get reset link</h4>
                <form action="{% url 'request-password' %}" method="post">
                    {% csrf_token %}
                    {% include "partials/_messages.html" %}
                    <div class="form-group mb-3">
                        <input type="email" name="email" id="emailField" class="form-control form-control-lg" placeholder="Email" autocomplete="off" value="{{values.email}}">
                    </div>
                    <button type="submit" class="btn btn-block btn-primary submit-btn">Submit</button>
                </form>
                <div class="container mt-2">
                    <span class="text-lead lead">Already have an account? </span><a href="{% url 'login' %}">Login</a></p>
                    <span class="text-lead lead">Don't have an account?</span> <a href="{% url 'register' %}">Register</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

<script src="{% static 'js/register.js' %}"> </script>

{% endblock content %}